@model SpelarPortalenMVC1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Football Locker!</title>
    <link rel="shortcut icon" type="image/png" href="~/Icons/favicon.png">
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />

    <!-- Color Login form with JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- JQUERY - Empty box when mousebutton is pressed? Make it red!-->
    <script>
        $(document).ready(function () {
            $("#loginForm").click(function () {

                if ($("#UsernameBox").val() == '') {
                    $("#UsernameBox").css('background-color', '#FFB6C1');
                }

                if ($("#PasswordBox").val() == '') {
                    $("#PasswordBox").css('background-color', '#FFB6C1');
                }

                if ($("#UsernameBox").val() != '') {
                    $("#UsernameBox").css('background-color', 'white');
                }

                if ($("#PasswordBox").val() != '') {
                    $("#PasswordBox").css('background-color', 'white');
                }
            });
        });
    </script>

</head>

<body>

    <br />

    @*header displays title + icon*@
    <header>
        <div class="headerDiv">
            <img src="~/Icons/icon.png" />
            <h1>  Football Locker </h1>
        </div>
    </header>

    <br />
    <br />


    <div class="divBody">

        <div class="loginBody">

            <div class="windowLogin">

                @using (Html.BeginForm())
                {

                    @*Create form with POST-attribute*@
                    <form method="POST" action="">

                        @*Create labels to form*@                     
                        <div id="loginForm" name="loginForm">
                            <label>Username</label>
                            @Html.TextBoxFor(m => m.Username, new { placeholder = "Enter your username", @name = "UsernameBox", @id = "UsernameBox" })

                            <label>Password</label>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your password", @name = "PasswordBox", @id = "PasswordBox" })
                        </div>

                        <button type="submit">Log in!</button>
                    </form>
                }
                @*Display error message here, if there is any!*@
                @Html.ValidationSummary()
            </div>

        </div>
    </div>

    <br />

    <footer class="myFooter">
        <div class="myFootContent">
            <p> Skapad av Jonathan Carlberg och Simon Sedig. Trollhättan, Högskolan Väst 2018 | Systemutveckling 16'. </p> 

            @*Show current time with JavaScript*@
            <p id=currentTime/>
            
        </div>
    </footer>

</body>

</html>

<script>
    // Show today's date

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = "Dagens datum: " + mm + '/' + dd + '/' + yyyy;
    document.getElementById("currentTime").innerHTML = today;
</script>