/* Body Tag - whole page */
body {
    background-color: #8c9ba5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
/* Header - Title */
header {
    text-align: center;
    font-size: 16px !important;
    font-weight: bold;
    color: whitesmoke;
    height: 160px;
    padding: 50px 0px 0px 0px;
}

/* For Div @renderBody() */
.BodyDiv {
    background-color: ghostwhite;
    border: 1px solid lightgray;
    padding: 20px 20px 20px 20px;

    min-height: 500px;
}

/* Set common features for footer*/
footer p {
    text-align: center;
    color: whitesmoke;   
}

/* Navigation-bar */
/* Add a black background color to the top navigation */
nav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 10px;
}

    /* Style the links inside the navigation bar */
    nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-right: 0.5px solid dimgray;
    }

    /* Style the links inside the navigation bar, LAST CHILD*/
    nav a:last-child {
        float: right;
        background-color: mediumslateblue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-left: 0.5px solid dimgray;
        width: 80px;
        font-weight: bold;
    }


    /* Change the color of links on hover */
    nav a:hover {
        background-color: #ddd;
        color: black;
    }

label {
    font-weight: bold !important;
}

/* layout for box */
input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* cool buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 7%;
}

    /* hoover effect*/
    button:hover {
        opacity: 0.8;
    }

/* Table CSS */
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkslateblue;
    color: white;
}