@*@model Grup__8_Annonser.ServiceReferenceAnnons.AnnonsKlass
@{
    ViewBag.Title = "Delete";
}

<h1>Delete</h1>
@*Skriver ut all data från databasen genom en "foreach"
Resurs: <br />
@Html.DisplayFor(m => Model.resource)<br />
onHooverText: <br />
@Html.DisplayFor(m => Model.onHooverText)<br />
@using (Html.BeginForm())
{
          <input type="submit" value="Radera" />
}*@
