@model Grup__8_Annonser.ServiceReferenceAnnonser.AnnonsKlass
@{
    ViewBag.Title = "Delete";
}

<h1>Radera</h1>


<table>
    <tr>
        <th>Resurs: </th>
        <th>Hoover-text: </th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(m => Model.resource)</td>
        <td>@Html.DisplayFor(m => Model.onHooverText)</td>
    </tr>

</table>

<br />

@using (Html.BeginForm())
{
    <button name="confirmButton" type="submit" onclick="location.href='@Url.Action("Delete", new { id = Model.addId })'">Radera</button>
}
