@model List<Grup__8_Annonser.ServiceReferenceAnnons.AnnonsKlass>
@{
                ViewBag.Title = "Read";
}

<h1>Read annons</h1>
@*Skriver ut all data från databasen genom en "foreach"*@
@foreach (var item in Model)
{
    <p>Annons: @item.resource</p>
}
