@model Grup__8_Annonser.ServiceReferenceAnnonser.AnnonsKlass
    @{
        ViewBag.Title = "rndAnnons";
    }

    <h2>rndAnnons</h2>

    
<abbr title="@Model.onHooverText"><p>@Model.resource</p></abbr>